# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/vjezba_06/vjezba_06_1/nbproject/private/
/vjezba_06/vjezba_06_1/build/
/vjezba_06/vjezba_06_1/dist/
/vjezba_06/vjezba_06_2/nbproject/private/
/vjezba_06/vjezba_06_2/build/
/vjezba_06/vjezba_06_2/dist/
/vjezba_06/vjezba_06_3/nbproject/private/
/vjezba_06/vjezba_06_3/build/
/vjezba_07/Vjezba_07_1/nbproject/private/
/vjezba_07/Vjezba_07_1/dist/
/vjezba_07/Vjezba_07_1/build/