<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>konfiguracija</param-name>
        <param-value>NWTiS.db.config_1.xml</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>org.foi.nwtis.mmarjano2.web.slusaci.SlusacAplikacije</listener-class>
    </listener>
    <servlet>
        <servlet-name>PokretacZapisa</servlet-name>
        <servlet-class>org.foi.nwtis.mmarjano2.web.PokretacZapisa</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Kontroler</servlet-name>
        <servlet-class>org.foi.nwtis.mmarjano2.web.Kontroler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PokretacZapisa</servlet-name>
        <url-pattern>/PokretacZapisa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Kontroler</servlet-name>
        <url-pattern>/Korisnik</url-pattern>
        <url-pattern>/RegistracijaKorisnika</url-pattern>
        <url-pattern>/DodajKorisnika</url-pattern>
        <url-pattern>/AzurirajKorisnika</url-pattern>
        <url-pattern>/PrijavaKorisnika</url-pattern>
        <url-pattern>/OdjavaKorisnika</url-pattern>
        <url-pattern>/ProvjeraKorisnika</url-pattern>
        <url-pattern>/IspisAktivnihKorisnika</url-pattern>
        <url-pattern>/IspisKorisnika_1</url-pattern>
        <url-pattern>/IspisKorisnika_2</url-pattern>
        <url-pattern>/IspisKorisnika_3</url-pattern>
        <url-pattern>/IspisPodataka</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>jsp/index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>org.foi.nwtis.mmarjano2.web.DodajKorisnikaPogreska</exception-type>
        <location>/jsp/dodajKorisnikaPogreska.jsp</location>
    </error-page>
</web-app>
